<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Thumbnailer</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./style">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./script"></script>
    <script src="./v-lazy-image"></script>
</head>

<body onload="ThumbnailerApp.init()">
    <div id="app">
        <select style="width: 100px;" v-model="sort">
            <option value="nameu">이름 ▲</option>
            <option value="named">이름 ▼</option>
            <option value="sizeu">크기 ▲</option>
            <option value="sized">크기 ▼</option>
            <option value="dateu">날짜 ▲</option>
            <option value="dated">날짜 ▼</option>
        </select>
        <select style="width: 150px;" v-model="viewType">
            <option value="video">모든 영상</option>
            <option value="folder">폴더 별</option>
        </select>
        <input class="path-filter" v-model="pathFilter" placeholder="경로로 검색">
        <div class="card-wrapper"  v-if="viewType === 'video'">
            <div class="card" v-for="(v, i) in filteredVideo" :key="i" @click="moveVideo(v)">
                <v-lazy-image :src="getThumbPath(v.hash)">X</v-lazy-image>
                <p>{{v.name}}</p>
            </div>
        </div>
        <div class="card-wrapper" v-else>
            <div class="card" v-for="(f, i) in Object.keys(folderedVideo)" :key="i" @click="moveFolder(f)">
                <!--<v-lazy-image :src="getThumbPath(v.hash)">X</v-lazy-image>-->
                <p>{{ f | folderName}}</p>
            </div>
        </div>
    </div>
</body>

</html>